@import 'vars';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    &__left {
        display: flex;
        gap: 41px;
        padding-bottom: 20px;
        padding-top: 28px;
    }
    &__right {
      display: flex;
      gap: 33px;
      padding-bottom: 20px;
      padding-top: 26px;
      &_five {
        height: 19px;
        width: 19px;
        background: rgba(241, 109, 127, 1);
        color: white;
        border-radius: 50%;
        position: absolute;
        margin-left: 25px;
        margin-top: -7px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
      }
    }
    &__logo {
        padding-bottom: 19px;
        padding-top: 18px;     
    }
    &__search {
      padding-top: 22px;
    }
  }
  
.mobile-menu {
    position: fixed; 
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    top: 75px;
    right: -232px; 
    transition: right 0.3s ease-in-out;
    z-index: 999; 
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 4px;
    }
    &__title {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin-bottom: 12px;
        margin-top: 20px;     
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-decoration: none;
        &:hover {
            color: #F16D7F;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 11px;
        list-style-type: none;
        padding-left: 20px;
    }
    
}
  
  
#check {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    &:checked ~ .mobile-menu {
        right: 0; 
    }
}
  
  
body.menu-open {
overflow-x: hidden;
}
  
.box-content {
    overflow: hidden;
}

.breadcrumb {
    background: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color:#F16D7F;
    }

    &__links {
        display: flex;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color:#636363;
        &:hover {
            color: #F16D7F;
        }
    }

    &__box:last-of-type .breadcrumb__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color:#F16D7F;
    }

    &__box:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color:#636363;
    }
}

.cart {
    margin-bottom: 128px;
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__info {
        padding-top: 17px;
    }

    &__address {
        width: 360px;
        height: 272px;
        margin-bottom: 57px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 23px;
    }

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $colorText;
    }

    &__input {
        width: 360px;
        height: 35px;
        border: 1px solid #A4A4A4;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        &::placeholder {
            color: #B1B1B1;
        }
        outline: none;
    }
    
    &__button {
        border: 1px solid #A4A4A4;
        padding: 12px 16px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        background-color: #fff;
        width: 110px;
        &:hover {
            color: white;
            background-color: #A4A4A4;
        }
    }

    &__buttons {
        display: flex;
        gap: 192px;
        margin-top: 72px;
        &_btn {
            border: 1px solid #A4A4A4;
            padding: 12px 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #4A4A4A;
            background-color: #fff;
            width: 234px;
            text-align: center;
            &:hover {
                color: white;
                background-color: #A4A4A4;
            }
        }
    }

    &__total {
        position: absolute;
        width: 360px;
        height: 214px;
        background: rgb(245, 243, 243);
        &_info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &_btn {
            background: rgb(241, 109, 127);
            color: rgb(255, 255, 255);
            width: 273px;
            height: 50px;
            margin: 17px 44px 42px 43px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border: none;
            &:hover {
                color: rgb(241, 109, 127);
                background-color: white;
            }
        }
    }

    &__subtotal {
        color: rgb(74, 74, 74);
        font-style: normal;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        padding-top: 39px;
        padding-bottom: 12px;
        margin-right: 34px;
    }

    &__grandtotal {
        color: rgb(34, 34, 34);
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 21px;
        margin-right: 37px;
        &_price {
            font-weight: 700;
            color: rgb(241, 109, 127);
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.cart-item {
    display: flex;
    width: 652px;
    height: 306px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorText;
        width: 390px;
        display: block;
        margin-bottom: 42px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__photo {
        width: 262px;
        height: 306px;
    }

    &__close {
        position: absolute;
        top: 22px;
        right: 28px;
        &:hover path{
            fill: $colorSelect;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__content {
        width: 100%;
        position: relative;
        background-color: #fff;
        padding: 22px 12px;
        box-sizing: border-box;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        &_select {
            color: $colorSelect
        }
        &_quantity {
            display: flex;
            gap: 32px;
        }
    }

    &__number {
        width: 44px;
        height: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #656565;
        text-align: center;
        border: 1px solid #EAEAEA;
    }
}

  
.frame7 {
    height: 448px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-image: url(../img/background_expert.jpeg);
}
.subscribe {
    height: 142px;
    width: 557px;
    padding-top: 150px;
    padding-bottom: 156px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__info {
        height: 225px;
        width: 360px;
        padding-top: 97px;
        padding-bottom: 126px;
    }
    &__info img {
        height: 96px;
        width: 96px;
        padding-left: 122px;
        padding-bottom: 30px;
    }
    &__text {
        height: 99px;
        width: 360px;
        align-content: center;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #222224;
        &_right {
            height: 61px;
            width: 557px;
            align-content: center;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #222224;
        }
    }
    &__button {
        height: 49px;
        width: 356px;
        align-content: center;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #222224;
        &_left {
            height: 49px;
            width: 256px;
        }
        &_right {
            height: 49px;
            width: 356px;
            display: flex;
        }
        &_right input {
            flex-grow: 1;
            border: none;
            height: 49px;
            width: 256px;
            background-color: rgba(225, 225, 225, 1);
            outline: none;
            color: rgba(34, 34, 36, 1);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding-left: 22px;
        }
        &_right button {
            height: 49px;
            width: 100px;
            background: rgba(241, 109, 127, 1);
            border: none;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}
.copyright {
    min-height: 79px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #9F9F9F;
    }        
    &__right {
        display: flex;
        height: 32px;
        width: 148px;
        justify-content: center;
        gap: 8px;
    }
}
.social__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
}
.social__icon:hover {
    background-color: rgba(241, 109, 127, 1);
}
.social__icon img:hover {
    filter: invert(100%);
}


@media (min-width: 768px) and (max-width: 1024px) {
  
    .container {
      padding-left: 0px;
      padding-right: 0px; 
    }
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    .header {
        height: 74px;
        padding-left: 32px;
        padding-right: 32px;
        &__left {
            padding-bottom: 19px;
        }
        &__right {
            gap: 32px;
            padding-bottom: 18px;
            padding-top: 27px;
        }
        &__logo {
            padding-bottom: 18px;
        }
    }

    .breadcrumb {
        padding-right: 16px;
        padding-left: 16px;
    }

    .cart {
        padding-top: 59px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        &__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding-top: 0;
        }
    
        &__address {
            margin-bottom: 0px;
        }
    
        &__input {
            height: 45px;
            padding-left: 17px;
            padding-right: 17px; 
        }
        
        &__button {
            border: 1px solid #A4A4A4;
            padding: 12px 16px;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            background-color: #fff;
            width: 110px;
            &:hover {
                color: white;
                background-color: #A4A4A4;
            }
        }
    
        &__buttons {
            display: flex;
            justify-content: center;
            gap: 46px;
            margin-top: 62px;
            margin-bottom: 64px;
        }
    
        &__total {
            position: relative;
            margin-left: 15px;
            margin-top: 39px;
            margin-bottom: 19px;
            &_info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            &_btn {
                background: rgb(241, 109, 127);
                color: rgb(255, 255, 255);
                width: 273px;
                height: 50px;
                margin: 17px 44px 42px 43px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                border: none;
                &:hover {
                    color: rgb(241, 109, 127);
                    background-color: white;
                }
            }

        }
    }

    .cart-item {
        display: flex;
        width: 734px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        &__link {
            padding-left: 31px;
            width: 262px;
        }
    
        &__text {
            padding-left: 31px;
        }
    }
  

    .frame7 {
        height: 693px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 54px;
    }
    .subscribe {
        height: 137px;
        width: 557px;
        padding-top: 24px;
        padding-bottom: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__info {
            padding-top: 64px;
            padding-bottom: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__info img {
            padding-left: 0;
        }
        &__text {
            margin-top: 0;
            margin-bottom: 48px;
            &_right {
                padding-bottom: 27px;
            }
        }
    }
    .copyright {
        &__left {
            padding: 30px;
        }
        &__right {
            padding-right: 32px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
  }
  @media (max-width: 767px) {
    body, .container {
        overflow-x: hidden;
    }
  
    .center {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;       
    }
    .container {
        width: 100%; 
        padding: 0px;
        box-sizing: border-box;
    }
    .header {
        height: 74px;
        justify-content: space-between;
        &__left {
            padding-bottom: 19px;
            padding-top: 28px;
        }
        &__right_five {
            display: none;
        }
        &__logo {
            padding-bottom: 18px;
            padding-left: 16px;
        }
        &__img {
            &_lk {
                display: none;
            }
            &_basket {
                display: none;
            }
            &_menu {
                padding-bottom: 26px;
                padding-top: 25px;
            }
        }
    }
  
    
    .breadcrumb {
              &__links {
            display: flex;
        }
        &__box:not(:last-child)::after {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
  
  
    .frame7 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 550px;
    }
    .subscribe {
          height: 123px;
          width: 100%;
          padding-top: 30px;
          padding-bottom: 109px;
          &__info {  
              display: flex;
              flex-direction: column;
              align-items: center; 
              justify-content: center;
              width: 100%;
              max-width: 500px; 
              padding: 20px;
              margin: 0 auto;
              text-align: center;
          }
  
          &__info img {
              padding-left: 0;
          }
  
          &__text_right {
              height: 54px;
              width: 100%;
              align-content: center;
              font-size: 14px;
          }
          &__button_right {            
              height: 47px;
              width: 341px;                
              padding-top: 22px;
          }
    }
    .copyright {
          height: 143px;
          background: #222222;
          display: flex;
          flex-direction: row;            
          flex-wrap: wrap;
          align-items: center;
          &__left {          
              height: 19px;
              width: 100%; 
              padding-top: 20px;
              order: 2;
              padding-left: 0px;
              padding-bottom: 9px;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
          }
          &__right {
              width: 100%; 
              height: 32px;
              padding-right: 114px;
              padding-left: 114px;
              padding-top: 43px;
              padding-bottom: 20px;
              order: 1;
          }
    }
  }
  