@import 'vars';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.header {
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    &__left {
        display: flex;
        gap: 41px;
        padding-bottom: 20px;
        padding-top: 28px;
    }
    &__right {
      display: flex;
      gap: 33px;
      padding-bottom: 20px;
      padding-top: 26px;
      &_five {
        height: 19px;
        width: 19px;
        background: rgba(241, 109, 127, 1);
        color: white;
        border-radius: 50%;
        position: absolute;
        margin-left: 25px;
        margin-top: -7px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
      }
    }
    &__logo {
        padding-bottom: 19px;
        padding-top: 18px;     
    }
    &__search {
      padding-top: 22px;
    }
}
  
.mobile-menu {
    position: fixed; 
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    top: 75px;
    right: -232px; 
    transition: right 0.3s ease-in-out;
    z-index: 999; 
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 4px;
    }
    &__title {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin-bottom: 12px;
        margin-top: 20px;     
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-decoration: none;
        &:hover {
            color: #F16D7F;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 11px;
        list-style-type: none;
        padding-left: 20px;
    }
    
}
  
  
#check {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    &:checked ~ .mobile-menu {
        right: 0; 
    }
}
  
  
body.menu-open {
    overflow-x: hidden;
}
  


.breadcrumb {
    background: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color:#F16D7F;
    }

    &__links {
        display: flex;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color:#636363;
        &:hover {
            color: #F16D7F;
        }
    }

    &__box:last-of-type .breadcrumb__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color:#F16D7F;
    }

    &__box:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color:#636363;
    }
}




.registration {
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding-top: 64px;
    padding-bottom: 96px;
    &__left {
        &_heading-form {
            color: rgb(34, 34, 34);
            font-style: light;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            margin-bottom: 20px;
        }
        &_input {
            width: 360px;
            height: 45px;
            border: 1px solid #A4A4A4;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: $colorText;
            padding-left: 16px;
            padding-right: 16px;
            box-sizing: border-box;
            margin-bottom: 20px;
            &::placeholder {
                color: rgb(177, 177, 177);
            }
            outline: none;
        }
        &_gender{
            padding-top: 13px;
            padding-bottom: 35px;
            display: flex;
            gap: 20px;
            text-align: center;
            align-items: center;
        }
        &_btn {
            color: rgb(0, 0, 0);
            font-style: normal;
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
            display: flex;
            align-items: center;
            gap: 10px; 
            cursor: pointer;
        }
        &_btn input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        &_radio-btn {
            display: inline-block;
            width: 17px;
            height: 17px;
            border: 1px solid rgb(164, 164, 164);
            border-radius: 50%;
            position: relative;
            box-sizing: border-box;
        }
        
        &_btn input[type="radio"]:checked + .registration__left_radio-btn::before {
            content: "";
            width: 9px;
            height: 9px;
            background-color: rgb(164, 164, 164);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_info {
            margin-top: -5px;
            margin-bottom: 39px;
            color: rgb(177, 177, 177);
            font-style: normal;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            width: 360px;
        }
        &_btn.tablet-only {
            display: none;
        }
    }

    &__btn {
        width: 167px;
        height: 50px;
        background-color: rgb(241, 109, 127);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        cursor: pointer;
        transition: background-color 0.3s, border 0.3s;
        &_text {
            color: rgb(255, 255, 255);
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            transition: color 0.3s;
        }
        svg {
            width: 17px;
            height: auto;
            transition: fill 0.3s;
        }

        &:hover {
            background-color: white;
            border: 1px solid rgb(241, 109, 127);
            .registration__btn_text {
                color: rgb(241, 109, 127);
            }
            svg path {
                fill: rgb(241, 109, 127);
            }
        }
    }
    &__right {
        &_heading {
            color: rgb(0, 0, 0);
            font-style: normal;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            padding-bottom: 22px;
        }
        &_info {
            color: rgb(0, 0, 0);
            font-style: normal;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            padding-bottom: 21px;
        }
        &_ul {
            list-style: none;
            padding-left: 0;
            color: rgb(0, 0, 0);
            font-style: normal;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &_list {
            display: flex;
            align-items: center;
            gap: 22px; 
            &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8 0L18.09 0C17.85 0 17.62 0.11 17.47 0.3L7.37 13.28L2.52 7.05C2.45 6.96 2.35 6.88 2.25 6.83C2.14 6.78 2.02 6.75 1.9 6.75L0.19 6.75C0.03 6.75 -0.06 6.94 0.04 7.07L6.75 15.69C7.06 16.1 7.67 16.1 7.98 15.69L19.95 0.31C20.05 0.19 19.96 0 19.8 0Z' fill='%23000000'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }      
        }
    }
}


.frame7 {
    height: 448px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-image: url(../img/background_expert.jpeg);
}
.subscribe {
    height: 142px;
    width: 557px;
    padding-top: 150px;
    padding-bottom: 156px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__info {
        height: 225px;
        width: 360px;
        padding-top: 97px;
        padding-bottom: 126px;
    }
    &__info img {
        height: 96px;
        width: 96px;
        padding-left: 122px;
        padding-bottom: 30px;
    }
    &__text {
        height: 99px;
        width: 360px;
        align-content: center;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #222224;
        &_right {
            height: 61px;
            width: 557px;
            align-content: center;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #222224;
        }
    }
    &__button {
        height: 49px;
        width: 356px;
        align-content: center;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #222224;
    
        &_left {
            height: 49px;
            width: 256px;
        }
    
        &_right {
            height: 49px;
            width: 356px;
            display: flex;
        }
    
        &_right input {
            flex-grow: 1;
            border: none;
            height: 49px;
            width: 256px;
            background-color: rgba(225, 225, 225, 1);
            outline: none;
            color: rgba(34, 34, 36, 1);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding-left: 22px;
            transition: background-color 0.3s, box-shadow 0.3s;
    
            &:hover {
                background-color: rgba(200, 200, 200, 1);
            }
    
            &:focus {
                background-color: white;
                box-shadow: 0 0 5px rgba(241, 109, 127, 0.5);
            }
        }
    
        &_right button {
            height: 49px;
            width: 100px;
            background: rgba(241, 109, 127, 1);
            border: none;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
    
            &:hover {
                background: white;
                color: rgba(241, 109, 127, 1);
                border: 1px solid rgba(241, 109, 127, 1);
            }
        }
    }
    
}

.copyright {
    min-height: 79px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #9F9F9F;
    }        
    &__right {
        display: flex;
        height: 32px;
        width: 148px;
        justify-content: center;
        gap: 8px;
    }
}
.social__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
}
.social__icon:hover {
    background-color: rgba(241, 109, 127, 1);
}
.social__icon img:hover {
    filter: invert(100%);
}



@media (min-width: 768px) and (max-width: 1024px) {
  
    .container {
      padding-left: 0px;
      padding-right: 0px; 
    }
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    .header {
        height: 74px;
        padding-left: 32px;
        padding-right: 32px;
        &__left {
            padding-bottom: 19px;
        }
        &__right {
            gap: 32px;
            padding-bottom: 18px;
            padding-top: 27px;
        }
        &__logo {
            padding-bottom: 18px;
        }
    }

    .breadcrumb {
        padding-right: 16px;
        padding-left: 16px;
    }

    .tablet-only {
        display: flex !important;
    }

    .registration {
        gap: 22px;
        padding-top: 40px;
        &__left {
            &_info {
                width: 359px;
            }
        }
        &__right {
            &_heading {
                font-size: 16px;
                line-height: 19px;
                padding-bottom: 32px;
            }
            &_info {
                font-size: 16px;
                line-height: 19px;
                padding-bottom: 22px;
            }
            &_ul {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .frame7 {
        height: 693px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 54px;
    }
    .subscribe {
        height: 137px;
        width: 557px;
        padding-top: 24px;
        padding-bottom: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__info {
            padding-top: 64px;
            padding-bottom: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__info img {
            padding-left: 0;
        }
        &__text {
            margin-top: 0;
            margin-bottom: 48px;
            &_right {
                padding-bottom: 27px;
            }
        }
    }
    .copyright {
        &__left {
            padding: 30px;
        }
        &__right {
            padding-right: 32px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
}
@media (max-width: 767px) {
  
    .center {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;       
    }
    .container {
        width: 100%; 
        padding: 0px;
        box-sizing: border-box;
    }
    .header {
        height: 74px;
        justify-content: space-between;
        &__left {
            padding-bottom: 19px;
            padding-top: 28px;
        }
        &__right_five {
            display: none;
        }
        &__logo {
            padding-bottom: 18px;
            padding-left: 16px;
        }
        &__img {
            &_lk {
                display: none;
            }
            &_basket {
                display: none;
            }
            &_menu {
                padding-bottom: 26px;
                padding-top: 25px;
            }
        }
    }
    
    .breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 69px;
    }




  
  
    .frame7 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 550px;
    }
    .subscribe {
          height: 123px;
          width: 100%;
          padding-top: 30px;
          padding-bottom: 109px;
          &__info {  
              display: flex;
              flex-direction: column;
              align-items: center; 
              justify-content: center;
              width: 100%;
              max-width: 500px; 
              padding: 20px;
              margin: 0 auto;
              text-align: center;
          }
  
          &__info img {
              padding-left: 0;
          }
  
          &__text_right {
              height: 54px;
              width: 100%;
              align-content: center;
              font-size: 14px;
          }
          &__button_right {            
              height: 47px;
              width: 341px;                
              padding-top: 22px;
          }
    }
    .copyright {
          height: 143px;
          background: #222222;
          display: flex;
          flex-direction: row;            
          flex-wrap: wrap;
          align-items: center;
          &__left {          
              height: 19px;
              width: 100%; 
              padding-top: 20px;
              order: 2;
              padding-left: 0px;
              padding-bottom: 9px;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
          }
          &__right {
              width: 100%; 
              height: 32px;
              padding-right: 114px;
              padding-left: 114px;
              padding-top: 43px;
              padding-bottom: 20px;
              order: 1;
          }
    }
}
  